body{
    color: #202040;
    background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,97,0,1) 8%, rgba(194,219,86,1) 18%, rgba(141,223,105,1) 27%, rgba(123,227,124,1) 36%, rgba(148,232,213,1) 48%, rgba(173,186,237,1) 60%, rgba(220,191,241,1) 69%, rgba(247,177,177,1) 79%, rgba(255,122,190,1) 87%, rgba(255,28,144,1) 94%, rgba(255,0,0,1) 100%);
   text-align: center;
    font-family: 'Cormorant SC';
    font-weight: bolder;
    font-size: 45px;
}
.icon{
  display: none;
}
.weather{
    font-size:22px;
    margin:0;
    font-weight: bolder;
}
.temp{
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}
.search-box{
    text-align: center;
}
.search{
    box-sizing: border-box;
  border: 2px solid #ccc;
    padding: 12px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
   width: 35%;
   font-size: 18px;
}